/* Add your custom CSS styles here */
.table-view {
    -fx-background-color: lightgrey;
}

.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-border: none;
    -fx-color: white;
    -fx-padding: 10 20;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #45a049; /* Darker green */
}
